<html>
    <head>
    	#parse ("Meta.vm")
        <title>Martus Amplifier Search Query</title>
    </head>
    
	#set ($years = [1970..2004])	
    #set ($days = [1..31])

    <body>
    	#set ($pageTitle="Advanced Search")
    	#set ($pageInfo="")
		#set ($showSearchForm = false)
		#parse ("ResultHeader.vm")
		<br/>
		
		<form name="search" action="DoSearch" method="post">
			<table bgcolor='#dddddd' color='#000000'>
			<tr>
			<td bgcolor='#ffffff' color='#000000'>
			<table cellpadding='10' cellspacing='0'>			
				<tr bgcolor='#dddddd' color='#000000'>
					<td><strong>Find bulletins </strong></td>
					<td>with <strong>all</strong> of the words</td>
					<td><input name="allWordsQuery" size="44"/></td>
					<td bgcolor='#ffffff' color='#000000'><input type="submit" value="Search"/></td>
				</tr>
				<tr bgcolor='#dddddd' color='#000000'>
					<td></td>
					<td>with <strong>at least one</strong> of the words</td>
					<td><input name="anyWordsQuery" size="44"/></td>
					<td bgcolor='#ffffff' ></td>
				</tr>
				<tr bgcolor='#dddddd' color='#000000'>
					<td></td>
					<td>with the <strong>exact phrase</strong></td>
					<td><input name="exactPhraseQuery" size="44"/></td>
					<td bgcolor='#ffffff' ></td>
				</tr>
##			<tr bgcolor='#dddddd' color='#000000'>
##					<td></td>
##					<td><strong>without</strong> the words</td>
##					<td><input name="excludeWordsQuery" size="44"/></td>
##					<td bgcolor='#ffffff' ></td>
##				</tr>

				<tr bgcolor='#dddddd' color='#000000'>
					<td></td>
					<td>
						in the 
						<select name='fields'>
							#foreach ($fieldChoice in $bulletinFields)	
									<option value="$fieldChoice.tag"> 
		                                $fieldChoice.label	
		                            </option>                              
							#end							
						</select>
					</td>
					<td></td>
					<td bgcolor='#ffffff' color='#000000'></td>
				</tr>
				<tr>
					<td><strong>Language</strong></td>
					<td>Show bulletins written in</td>
					<td>
						<select name='language'>
							#foreach ($languageChoice in $languageFields)	
								<option value="$languageChoice.tag"> 
	                                $languageChoice.label	
	                            </option>                              
						    #end	
						</select>
					</td>
				</tr>
				<tr>
					<td><strong>Event Date</strong></td>
					<td>Show bulletins where the event occurred between</td>
					<td>
						<table border='0'>
							<tr>
								<td>
									<select name="startMonth">                    	
										#foreach ($monthChoice in $monthFields)
											<option value="$monthChoice.tag">
												$monthChoice.label
											</option>		                            
										#end
									</select>
										
									<select name="startDay">                    	
										#foreach ($day in $days)
											<option value="$day">
												$day
											</option>
										#end
									</select>    
										  
									<select name="startYear">                    	
										#foreach ($year in $years)
											<option value="$year">
												$year
											</option>
										#end
									</select>                                               
					                &nbsp;and&nbsp;
								</td>
							</tr>
							<tr>
								<td>
									<select name="endMonth">       
										#foreach ($monthChoice in $monthFields)						    	
											<option 
											    #if ($monthChoice.tag == $today.month)             	
											    	selected
											    #end	
												value="$monthChoice.tag">
											           	$monthChoice.label	                                
									        </option>	                            	                                   
										#end							
									</select>
									<select name="endDay">                    	
									    #foreach ($day in $days)
									    	<option
									    	#if ($day == $today.day)
									    		selected
									    	#end						    	
									        value="$day">	                            		                            		
									            $day	                                
									        </option>	                            	                           
									    #end
									</select>    
									  
									<select name="endYear">                    	
									    #foreach ($year in $years)
									    	<option
									     	#if ($year == $today.year)
									         	selected                            
									        #end	                            	  
									        value="$year">	                            		                            		
									           $year	                                
									        </option>	                           
									    #end
									    
									</select>                              
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td><strong>Bulletin Date</strong></td>
					<td>Show bulletins submitted in the past</td>
					<td>					
						<select name='entryDate'>
							#foreach ($dateChoice in $entryDateFields)	
									<option value="$dateChoice.tag"> 
		                                $dateChoice.label	
		                            </option>                              
							#end		
						</select>
					</td>
				</tr>
				<tr>
					<td><strong>Display Bulletins</strong></td>
					<td>Sort results by</td>
					<td>
						#parse("SortBy.vm")
					</td>
					<td></td>
				</tr>
			</table>
			</td>
			</tr>
			</table>
		</form>

		Return to <a href='SimpleSearch'>Quick Search</a>
		
		<br/><br/>
		#set ($showSearchForm = false)
		#parse ("ResultFooter.vm")
    </body>
</html>

