<html>
    <head>
    	#include ("Meta.vm")
        <title>Martus Amplifier Search Query</title>
    </head>
    
	#set ($years = [1970..2004])	
    #set ($days = [1..31])

    <body>
		    <img src="../images/MartusLogo.gif" 
		    	alt="Martus Amplifier"/>
		<table cellSpacing=0 cellPadding=1 width="100%" bgColor=#3366cc border=0>
			<tbody>
		        <tr>
        			<td noWrap bgColor=#3366cc>
        				<font color=#ffffff size='+1'>
        					Advanced Search
        				</font>
        			</td>
				</tr>
			</tbody>
		</table>
		<br/><br/><br/>
		
		<form name="search" action="SearchResults" method="post">
			<table bgcolor='#dddddd' color='#000000'>
			<tr>
			<td bgcolor='#ffffff' color='#000000'>
			<table cellpadding='10' cellspacing='0'>
				<tr bgcolor='#dddddd' color='#000000'>
					<td><strong>Find bulletins </strong></td>
					<td>
						<select name = 'filterBy'>						
								#foreach ($filterChoice in $filterWordFields)	
									<option value="$filterChoice.tag"> 
		                                $filterChoice.label	
		                            </option>                              
							    #end			
						</select>
					</td>
					<td><input name="advancedQuery" size="44"/></td>
					<td bgcolor='#ffffff' color='#000000'><input type="submit" value="Search"/></td>
				</tr>
				<tr bgcolor='#dddddd' color='#000000'>
					<td></td>
					<td>
						<select name='fields'>
							#foreach ($fieldChoice in $bulletinFields)	
									<option value="$fieldChoice.tag"> 
		                                $fieldChoice.label	
		                            </option>                              
							#end							
						</select>
					</td>
					<td></td>
					<td bgcolor='#ffffff' color='#000000'></td>
				</tr>
				<tr>
					<td><strong>Language</strong></td>
					<td>Show only bulletins written in</td>
					<td>
						<select name='language'>
							#foreach ($languageChoice in $languageFields)	
								<option value="$languageChoice.tag"> 
	                                $languageChoice.label	
	                            </option>                              
						    #end	
						</select>
					</td>
				</tr>
				<tr>
					<td><strong>Event Date</strong></td>
					<td>Show bulletins where the event occurred</td>
					<td align='right'>
					between 
		                    <select name="startMonth">                    	
							    #foreach ($month in $monthFields)
		                            <option value="$month">
		                                $month
		                            </option>
							    #end
		                    </select>
		
		                    <select name="startDay">                    	
							    #foreach ($day in $days)
		                            <option value="$day">
		                                $day
		                            </option>
							    #end
		                    </select>    
		                      
		                    <select name="startYear">                    	
							    #foreach ($year in $years)
		                            <option value="$year">
		                                $year
		                            </option>
							    #end
		                    </select>                                               
	                        			                                                                            </p>				
	                &nbsp;and&nbsp;
	                   <select name="endMonth">                    	
						    #foreach ($month in $monthFields)
	                            <option value="$month">
	                                $month
	                            </option>
						    #end
	                    </select>
	
	                    <select name="endDay">                    	
						    #foreach ($day in $days)
	                            <option value="$day">
	                                $day
	                            </option>
						    #end
	                    </select>    
	                      
	                    <select name="endYear">                    	
						    #foreach ($year in $years)
	                            <option value="$year">
	                                $year
	                            </option>
						    #end
	                    </select>                              
					</td>
				</tr>
				<tr>
					<td><strong>Bulletin Date</strong></td>
					<td>Show bulletins submitted in the</td>
					<td>					
						<select name='entryDate'>
							#foreach ($dateChoice in $entryDateFields)	
									<option value="$dateChoice.tag"> 
		                                $dateChoice.label	
		                            </option>                              
							#end		
						</select>
					</td>
				</tr>
			</table>
			</td>
			</tr>
			</table>
		</form>
		
		<br/><br/><br/>
		        	<font size='-1'>
		                <a href="SimpleSearch">Simple Search</a>
		        		&nbsp;-&nbsp;
		        		<a href='http://martus.org'>Advanced Search Tips</a>
		        		&nbsp;-&nbsp;
		        		<a href='http://martus.org'>Report a Bug</a>
		        		&nbsp;-&nbsp;
		        		<a href='http://martus.org'>About Martus</a>
		        	</font>
		
		<br/><br/><br/>

		<table cellSpacing='0' cellPadding='1' width="100%" bgColor='#3366cc' border='0'>
			<tbody>
		        <tr>
					<td noWrap bgColor='#3366cc' align='center'>
		        		<a href='http://martus.org'><font color='#ffffff' size='-1'>About Benetech</font></a>
		        		<a href='http://martus.org'><font color='#ffffff' size='-1'>Partner with Us</font></a>
		        		<a href='http://martus.org'><font color='#ffffff' size='-1'>Volunteers</font></a>
		        		<a href='http://martus.org'><font color='#ffffff' size='-1'>News & Press</font></a>
		        		<a href='http://martus.org'><font color='#ffffff' size='-1'>Help</font></a>
					</td>
				</tr>
			</tbody>
		</table>
		<br/>
		<center>
    		#include("Copyright.vm")
		</center>
    </body>
</html>

