<font size='-2'>
    The Martus&#153; Search Engine and related software 
    was developed and is licensed to the Website Operator 
    by Beneficent Technology, Inc., &#0169;2002-2003
    
</font>
