<html>
    <head>
   		#include("Meta.vm")
    	<title>Martus Amplifier Search Query</title>
    </head>
    
    <body>
    	#set ($pageTitle="Searched Martus for: test")
    	#set ($pageInfo="Bulletin $currentBulletin of xxx")
		#set ($showSearchForm = true)
		#parse ("ResultHeader.vm")
		<p><font size='-1'><a href='some url'>Printer Friendly Version</a></font></p>
		<br/>
		#parse("PreviousNextBulletin.vm")
		<br/>		
		<table>
			<tr>
				<td valign='top'><font size="+1">Title:</font></td>
				<td valign='top'><font size="+1"><strong>$bulletin.fields.title</strong></font></td>
			
			</tr>
			<tr>
				<td valign='top'>Language:</td>
				<td valign='top'>$bulletin.fields.language</td>
				<td></td>
			</tr>
			<tr>
				<td valign='top'>Author:</td>
				<td valign='top'>$bulletin.fields.author</td>
				<td></td>
			</tr>
			<tr>
				<td valign='top'>Organization:</td>
				<td valign='top'>$bulletin.fields.organization</td>
				<td></td>
			</tr>
			<tr>
				<td valign='top'>Location:</td>
				<td valign='top'>$bulletin.fields.location</td>
				<td></td>
			</tr>
			<tr>
				<td valign='top'>Keywords:</td>
				<td valign='top'>$bulletin.fields.keywords</td>
				<td></td>
			</tr>
			<tr>
				<td valign='top'>Event Date:</td>
				<td valign='top'>$bulletin.fields.eventdate</td>
				<td></td>
			</tr>
			<tr>
				<td valign='top'>Date Submitted:</td>
				<td valign='top'>$bulletin.fields.entrydate</td>
				<td></td>
			</tr>
			<tr>
				<td valign='top'>Summary:</td>
				<td valign='top'>$bulletin.fields.summary</td>
				<td></td>
			</tr>
			<tr>
				<td valign='top'>Details:</td>
				<td valign='top'>$bulletin.fields.publicinfo</td>
				<td></td>
			</tr>
			#foreach ($thisAttachments in $bulletin.attachments)
				<tr>
					<td valign='top'>
						#if ($velocityCount == 1)
							Attachment(s):
						#end
					</td>
					<td valign='top'>
						<a 	href=DownloadAttachment?bulletinIndex=$currentBulletin&attachmentIndex=$velocityCount>$thisAttachments.label</a>
						&nbsp;($thisAttachments.size Kb)
					</td>
					<td></td>
				</tr>
			#end
		</table>

		<br/><br/>

		#parse("PreviousNextBulletin.vm")
		#set ($showSearchForm = true)
		#parse ("ResultFooter.vm")
    </body>
</html>
		