<form name="search" action="DoSearch?typeOfSearch=quick" method="post">
    <p>
        <input name="query" size="44" value=$defaultSimpleSearch></input>&nbsp;
        <input type="submit" value="Search"/>       
   
    </p>
</form>
<font>
	<a href='AdvancedSearch'>Advanced Search</a>
</font>
