<html>
	#set ($pageTitle= "Searched for: $searchedFor")
    <head>
     	#parse("Meta.vm")       
    </head>
    
    <body>
    	#set ($pageTitle="Searched Martus for: $searchedFor")
    	#set ($pageInfo="No bulletins found")
		#set ($showSearchForm = false)
		#parse ("ResultHeader.vm")
		
		<br/><br/><br/>
        No bulletins matched your search terms
		<br/><br/><br/>

		#set ($showSearchForm = true)
		#parse ("ResultFooter.vm")
    </body>
</html>
