#if ($previousBulletin >= 0)
	<a href='FoundBulletin?index=$previousBulletin'>&lt;&lt; Previous</a>
#else
	&lt;&lt; Previous
#end
	&nbsp;&nbsp;&nbsp;
#if ($nextBulletin >= 0)
	<a href='FoundBulletin?index=$nextBulletin'>Next &gt;&gt;</a>
#else
Next &gt;&gt;
#end
<br/>	