<html>
	#set ($pageTitle="Print Bulletin")
    <head>
   		#parse("Meta.vm")    	
    </head>
    
    <body  bgColor=ffffff>
    	#set ($pageTitle="Searched Martus for: $searchedFor")
    	#set ($pageInfo="Bulletin $currentBulletin of $totalBulletins")
		#set ($showSearchForm = false)
		#set ($printerFriendly = true)
		#parse ("ResultHeader.vm")
		<br/><hr/><br/>		
		#parse ("DisplayBulletinInfo.vm")
		<br/><hr/><br/>
		#set ($showSearchForm = false)
		#parse ("ResultFooter.vm")
    </body>
</html>