#if (!$noSearchForm)
	<center>
		#include ("MiniSearchForm.vm")
	    <p>
		    <font size='-1'>
			    Dissatisfied with your search results?
			    <a href='http://martus.org'>Help us improve.</a>
			</font>
		</p>
	</center>
#end
<table cellSpacing='0' cellPadding='1' width="100%" bgColor="$barColor" border='0'>
	<tbody>
        <tr>
			<td noWrap align='center'>
        		<a href='http://martus.org'><font color='#ffffff' size='-1'>About Benetech</font></a>
        		&nbsp;&nbsp;
        		<a href='http://martus.org'><font color='#ffffff' size='-1'>Partner with Us</font></a>
        		&nbsp;&nbsp;
        		<a href='http://martus.org'><font color='#ffffff' size='-1'>News & Press</font></a>
			</td>
		</tr>
	</tbody>
</table>
<br/>
<center>
	#include("Copyright.vm")
</center>
