#set ($barColor = "#5588ee")
<table border='0' width='100%'>
	<tr>
		<td>
			<a href="SimpleSearch">
				<img src="../images/MartusLogo.gif" alt="Martus Amplifier"/ border='0'>
			</a>
		</td>
		<td align='center'>
			#if ($showSearchForm)
				#include ("MiniSearchForm.vm")
			#end
		</td>
		<td align='right'>
			<img src="../images/cobrand.gif" alt="Cobrand"/ border='0'>
		</td>
	</tr>
</table>
<font size='-1'>
	<a href='http://martus.org'>Learn More</a>
	&nbsp;&nbsp;
	<a href='http://martus.org'>Search Tips</a>
	&nbsp;&nbsp;
	<a href='UserFeedbackForm?problemReport'>Report Technical Problems</a>
</font>
<br/><br/>
<table cellSpacing=0 cellPadding=1 width="100%" bgColor="$barColor" border=0>
	<tbody>
        <tr>
			<td noWrap>
				<font color=#ffffff size='+1'>
					$pageTitle
				</font>
			</td>
			<td noWrap align=right>
				<font color=#ffffff size='+1'>
					$pageInfo
				</font>
			</td>
		</tr>
	</tbody>
</table>

