<center>
    <form name="search" action="SearchResults" method="post">
        <p>
            <input name="query" size="44"/>&nbsp;
            <input type="submit" value="Search"/>
        </p>
    </form>
    <p>
	    <font size='-1'>
		    Dissatisfied with your search results?
		    <a href='http://martus.org'>Help us improve.</a>
		</font>
	</p>
</center>
<table cellSpacing='0' cellPadding='1' width="100%" bgColor='#3366cc' border='0'>
	<tbody>
        <tr>
			<td noWrap bgColor='#3366cc' align='center'>
        		<a href='http://martus.org'><font color='#ffffff' size='-1'>About Benetech</font></a>
        		<a href='http://martus.org'><font color='#ffffff' size='-1'>Partner with Us</font></a>
        		<a href='http://martus.org'><font color='#ffffff' size='-1'>Volunteers</font></a>
        		<a href='http://martus.org'><font color='#ffffff' size='-1'>News & Press</font></a>
        		<a href='http://martus.org'><font color='#ffffff' size='-1'>Help</font></a>
			</td>
		</tr>
	</tbody>
</table>
<br/>
<center>
	#include("Copyright.vm")
</center>
