#if ($printerFriendly)
	#set ($barColor = "#ffffff")
	#set ($barFontColor = "#000000")
#else
	#set ($barColor = "#5588ee")
	#set ($barFontColor = "#ffffff")
#end

<table border='0' width='100%'>
	<tr>
		<td>
			<a href="SimpleSearch">
				<img src="../images/MartusLogo.gif" alt="Martus Amplifier"/ border='0'>
			</a>
		</td>
		<td align='center'>
			#if ($showSearchForm)
				#parse ("MiniSearchForm.vm")
			#end
		</td>
		<td align='right'>
			<img src="../images/cobrand.gif" alt="Cobrand"/ border='0'>
		</td>
	</tr>
</table>

#if (!$printerFriendly)
	<font size='-1'>
		<a href='http://martus.org'>Learn More</a>
		&nbsp;&nbsp;
		<a href='http://martus.org'>Search Tips</a>
		&nbsp;&nbsp;
		<a href='UserFeedbackForm?problemReport'>Report Technical Problems</a>
	</font>
	<br/><br/>
#end

<table cellSpacing=0 cellPadding=1 width="100%" bgColor="$barColor" border=0>
	<tbody>
        <tr>
			<td noWrap>
				<font color=$barFontColor size='+1'>
					$pageTitle
				</font>
			</td>
			<td noWrap align=right>
				<font color=$barFontColor size='+1'>
					$pageInfo
				</font>
			</td>
		</tr>
	</tbody>
</table>

