<html>
    <head>
    		#include("Meta.vm")
            <title>Martus Amplifier Search Results</title>
    </head>
    <body>
    	#set ($pageTitle="Searched Martus for: test")
    	#set ($pageInfo="Found $totalBulletins bulletins")
		#set ($showSearchForm = true)
		#parse ("ResultHeader.vm")
		
		<br/><br/>
        
        <table width="800" border="0" cellpadding="0" cellspacing="0">
			#foreach ($bulletin in $foundBulletins)
	            <tr>
	            	<td valign='top'>
	            		$velocityCount. 
	            	</td>
	                <td>
	                	<strong>Title</strong>: <a href="FoundBulletin?index=$velocityCount">$bulletin.fields.title</a><br/>
						#if($bulletin.fields.author != "")
		        	        <strong>Author</strong>: $bulletin.fields.author<br/>
						#end
						#if($bulletin.fields.organization != "")
		            	    <strong>Organization</strong>: $bulletin.fields.organization<br/>
						#end
						#if($bulletin.fields.location != "")
			                <strong>Location</strong>: $bulletin.fields.location<br/>
						#end
		                <strong>Event Date</strong>: 
						#parse("DateRange.vm")
						<br/>
		                <br/>
		            </td>
	            </tr>
			
			#end
        </table>
        
		<br/><br/>
		#set ($showSearchForm = true)
		#parse ("ResultFooter.vm")
    </body>
</html>
