<html>
    <head>
   		#include("Meta.vm")
        <title>Martus Amplifier Search Query</title>
    </head>
    
    <body>
		<center>
			<a href="SimpleSearch">
				<img src="../images/MartusLogo.gif" alt="Martus Amplifier"/ border='0'>
			</a>
			<br/>
			<font size='-1'>
				<a href='http://martus.org'>Learn More</a>
				&nbsp;-&nbsp;
				<a href='http://martus.org'>Search Tips</a>
				&nbsp;-&nbsp;
				<a href='http://martus.org'>Report Technical Problems</a>
			</font>
			<br/>
			#include ("MiniSearchForm.vm")
	        <br/><br/><br/>
			<table>
			        <tr>
		        	<td>
		        		<table cellspacing = '10'>
		        			<tr>
				            	<td><font size='-1'><a href='http://benetech.org'>About Benetech</a></font></td>
				        		&nbsp;&nbsp;
				            	<td><font size='-1'><a href='http://benetech.org'>Partners</a></font></td>
				        		&nbsp;&nbsp;
				            	<td><font size='-1'><a href='http://benetech.org'>News &amp; Press</a></font></td>
				            </tr>
				        </table>
					</td>
		        </tr>
	        </table>
		#include("Copyright.vm")
        </center>
    </body>
</html>
