<html>
	#set ($pageTitle="Search")
    <head>
   		#parse("Meta.vm")     
    </head>
    
    <body>
		#set ($pageTitle="Martus Search")
    	#set ($pageInfo="")
		#set ($noSearchForm = "1")
		#parse ("ResultHeader.vm")
		<br/>
		<center>
			<table>
				<tr>
					<td align='center' width='500'>
						<font size='+1'>
							<strong>Martus Search Engine</strong>
						</font>
						<br/><br/>
							Martus is a monitoring system that allows people 
							to document human rights violations in the form of bulletins.  
							These bulletins are then sent to servers around the world for safe storage. 
							Martus Search Engine allows you to search publicly available bulletins 
							for specific incidents of abuse.
					</td>
				</tr>
				<tr>
					<td align='center'>
						<br/><br/>
						Enter your search here:
						#parse ("MiniSearchForm.vm")
					</td>
				</tr>
			</table>
        </center>
		<br/>
        #set ($noSearchForm = "1")
        #parse ("ResultFooter.vm")
    </body>
</html>
